/*MAIN*/

body {
    margin: 0;
    padding: 0;
    font-family: Consolas, 'Courier New', monospace;
    background: #111111;
}

.header {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.header_without_image {
    position: relative;
    min-height: 60px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0px 0px 0px 30px;
}

hr {
    border: none;
    margin: 50px 0px 10px 0px;
    border-top: 1px solid rgb(37, 40, 43);
}

.header__main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main_without_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #25282b;
}

.header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.header__menu {
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    padding: 0 20px;
    min-height: 50px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.header__menu__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
}

.header__menu__grid a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    transition: background 0.2s ease;
}

.header__menu__grid a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.header__menu__grid__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.header__menu__grid__name__logo {
    width: 32px;
    height: 32px;
}

.header__menu__grid__name__name {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
}

.header__menu__grid__element {

}

.header__title {
    width: 100%;
    padding: 100px 0px 0px 20px;
    min-height: 50px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    margin: 0;
    text-align: left;
    position: relative;
    margin-right: auto;
    font-weight: 700;
}

.header__second_title {
    width: 100%;
    padding: 10px 0px 0px 20px;
    min-height: 50px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    margin: 0;
    text-align: left;
    position: relative;
    margin-right: auto;
}

.header__download {
    width: 100%;
    padding: 10px 0px 0px 20px;
    min-height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    text-align: left;
    position: relative;
    margin-right: auto;
    color: rgba(0, 0, 0, 1);
}

.header__download__link {
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    font-weight: 700;
}

main {
    background-color: #25282b;
    min-height: auto;
    padding: 0px 0px 50px 0px;
}

.main__news {
    padding: 50px 10px 0px 10px;
}

.main__news__title {
    width: 100%;
    padding: 100px 0px 0px 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    margin: 0;
    text-align: left;
    position: relative;
    margin-right: auto;
    font-weight: 700;
}

.main__news__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main__news__list a {
    color: #25282b;
}

.main__news__list__element {
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    transition: transform 200ms ease-in-out;
}

.main__news__list__element:hover {
    transform: translateY(-2px);
}

.main__news__list__element__tilte {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__news__list__element__list {

}

.main__news__list__element__list__value {
    margin: 0px 0px 2px 2px;
    color: #25282b;
}

.main__list {
    padding: 50px 10px 0px 10px;
}

.main__list__title {
    width: 100%;
    padding: 100px 0px 0px 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    margin: 0;
    text-align: left;
    position: relative;
    margin-right: auto;
    font-weight: 700;
}

.main__list__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main__list__list__element {
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    transition: transform 200ms ease-in-out;
    width: 100%;
    height: 400px;
}

.main__list__list__element:hover {
    transform: translateY(-2px);
}

.main__list__list__element__image {
    width: 100%;
    height: calc(width * 0.38);
    border-radius: 8px;
}

.main__list__list__element__title {
    margin: 5px 0px 5px 10px;
    font-size: 22px;
    color: #25282b;
}

.main__list__list__element__text {
    margin: 0px 0px 2px 10px;
    color: #25282b;
}

footer {
    background-color: #111111;
    min-height: 200px;
}

.footer__menu {
    padding: 20px 10vw 20px 10vw;
    margin: 0px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    align-items: up;
}

.footer__menu p {
    color: white;
}

.footer__menu a {
    color: white;
}

.footer__menu button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 16px;
    font-family: Consolas, 'Courier New', monospace;
    text-align: left;
    cursor: pointer;
}

.footer__menu__submenu {
    display: flex;
    flex-direction: column;
    align-items: left;

    margin: 0px 20px 0px 20px;
}

.footer__menu__submenu__title {
    font-size: 21px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.footer__menu__submenu__element {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer__menu__submenu__element__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}

.footer__menu__submenu__element__text {
    margin: 3px 0px 3px 0px;
}

.footer__copyright {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 15px 0px;
}

.footer__copyright__text {
    color: white;
    margin: 0px;
    padding: 0px;
}

@media(max-width: 768px) {
    .header__menu {
        height: auto;
        padding: 10px 20px 10px 20px;
    }

    .header__menu__grid {
        flex-direction: column;
        align-items: left;
        gap: 2px;
    }

    .header__menu__grid__name {
        width: 100vw;
        height: 30px;
        margin: 5px 0px 5px 0px;
        align-items: center;
    }

    .header__menu__grid__element {
        width: 100vw;
        height: 30px;
        margin: 5px 0px 5px 0px;
    }

    .header__title {
        padding: 30px 0px 0px 20px;
    }

    .header__download {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 20px;
        gap: 15px;
    }

    .header__download__link {
        margin: 0;
        width: calc(100% - 40px);
    }

    .main__news__list {
        flex-direction: column;
    }

    .main__news__list__element {
        height: auto;
    }

    .main__list__list {
        flex-direction: column;
    }

    .main__list__list__element {
        height: auto;
    }

    .footer__menu {
        flex-direction: column;
    }
}

/*DOWNLOAD*/

.main__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px 0px 0px;
}

.main__download__element {
    width: 100%;
    min-height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
    transition: transform 200ms ease-in-out;
}

.main__download__element__title {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__download__element__list {
    margin: 0px 0px 0px 5px;
}

.main__download__element__list__value {
    margin: 0px 0px 2px 2px;
    color: blue;
    word-break: break-all;
}

/*COMMUNITY*/

.main__community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 20px 0px 0px 0px;
}

.main__community__element {
    width: calc(100vw - 40px);
    min-height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 0px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
    transition: transform 200ms ease-in-out;
}

.main__community__element__title {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__community__element__list {
    margin: 0px 0px 0px 5px;
}

.main__community__element__list__value {
    margin: 0px 0px 2px 2px;
    color: blue;
    word-break: break-all;
}

/*UPDATES*/

.main__updates {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px 0px 0px;
}

.main__updates__element {
    width: calc(100vw - 40px);
    min-height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
    transition: transform 200ms ease-in-out;
}

.main__updates__element__title {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__updates__element__list {
    margin: 0px 0px 0px 5px;
}

.main__updates__element__list__value {
    margin: 0px 0px 2px 2px;
    color: blue;
    word-break: break-all;
}

/*DOCUMENTATION*/

.main__documentation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 0px 0px;
    margin: 0px 20px 0px 20px;
}

.main__documentation__list__element {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
    transition: transform 200ms ease-in-out;
}

.main__documentation__list__element:hover {
    transform: translateY(-2px);
}

.main__documentation__list__title {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__documentation__list__list {
    margin: 0px 0px 0px 5px;
}

/*NODES*/

.main__nodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 0px 0px;
    margin: 0px 20px 0px 20px;
}

.main__nodes__element {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
    transition: transform 200ms ease-in-out;
}

.main__nodes__element__title {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__nodes__element__title_center {
    margin: 5px 0px 5px 0px;
    font-size: 22px;
    color: #25282b;
    text-align: center;
}

.main__nodes__element__text p {
    margin: 0px 0px 0px 5px;
}

.main__nodes__element__text img {
    margin: 0px 0px 0px 10px;
    border-radius: 8px;
    max-width: calc(100% - 20px);
}

/*FIRST PROGRAM*/

.main__first-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 0px 0px;
    margin: 0px 20px 0px 20px;
}

.main__first-program__element {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
    transition: transform 200ms ease-in-out;
}

.main__first-program__element__title {
    margin: 5px 0px 5px 30px;
    font-size: 22px;
    color: #25282b;
}

.main__first-program__element__text p {
    margin: 5px 0px 5px 5px;
}

.main__first-program__element__text img {
    margin: 0px 0px 0px 10px;
    border-radius: 8px;
    max-width: calc(100% - 20px);
}
