<div class="header__menu">
    <div class="header__menu__grid">
        <a class="header__menu__grid__name" href="/">
            <img class="header__menu__grid__name__logo" src="{{ url_for('static', filename='images/logo/white.png') }}">
            <p class="header__menu__grid__name__name">
                Game Engine 3
            </p>
        </a>
        <a class="header__menu__grid__element" href="/download/">
            Download
        </a>
        <a class="header__menu__grid__element" href="/community/">
            Community
        </a>
        <a class="header__menu__grid__element" href="/documentation/">
            Documentation
        </a>
        <a class="header__menu__grid__element" href="/updates/">
            Updates
        </a>
    </div>
</div>
