<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Engine 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
    <div class='main'>
    <header class="header">
        <p class="header__name">Game Engine 3</p>
        <p class="header__discription">Welcome to Game Engine 3 - a tool designed to simplify the app and game development process, suitable for beginners and professional developers!</p>
    </header>

    <content class="content">
        <div class="content__menu"><div class='content__menu__choose'><button class='content__menu__button' onclick='clickHandler("Game Engine 3")'>&nbsp;Game Engine 3</button><button class='content__menu__button' onclick='clickHandler("Download")'>&nbsp;Download</button><button class='content__menu__button' onclick='clickHandler("Control")'>&nbsp;Control</button><button class='content__menu__button' onclick='clickHandler("Nodes")'>&nbsp;Nodes</button><button class='content__menu__button' onclick='clickHandler("Guides")'>&nbsp;Guides</button><button class='content__menu__button' onclick='clickHandler("Programming")'>&nbsp;Programming</button></div>
    <div class='content__menu__separator'></div>
    <div class='content__menu__settings'>
        <p class='settings__title'>Language Settings</p>
        <button class='language__button' onclick='changeLanguage("en")'>English</button>
        <button class='language__button' onclick='changeLanguage("ru")'>Русский</button>
    </div>
    </div>
        <div class="content__main"><p class='content__main__name'>Game Engine 3</p><p class='content__main__discription'>Welcome to Game Engine 3 - a tool designed to simplify the app and game development process, suitable for beginners and professional developers!</p><br><p class='content__main__discription'>How to install the program:</p><p class='content__main__discription'>• Download last version: <a href='https://github.com/artyom7774/Game-Engine-3/releases/download/GE3.9.0/Game-Engine-3-windows.sfx.exe'>click to download</a> (Windows)</p><p class='content__main__discription'>• Run file "Game Engine 3.exe"</p><br><p class='content__main__discription'>System requirements:</p><p class='content__main__discription'>• Windows 10 - 11 x64</p><p class='content__main__discription'>• 4GB RAM</p><p class='content__main__discription'>• Intel HD Graphics 4000 / AMD Radeon R5</p><p class='content__main__discription'>• Nvidia GeForce 400 / AMD Radeon HD 7000</p></div>
    </content>

    <footer class="footer">
        <p class="footer__text">Game Engine 3 ©2024-2025</p>
    </footer>
    </div>
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>
</body>
</html>
