<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Engine 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo/dark.png') }}" type="image/x-icon">
</head>
<body class="body">
    <header class="header">
        <img class="header__image" src="{{ url_for('static', filename='images/image.jpg') }}">
        <div class="header__main">
            <div class="header__menu">
    <div class="header__menu__grid">
        <a class="header__menu__grid__name" href="/">
            <img class="header__menu__grid__name__logo" src="{{ url_for('static', filename='images/logo/white.png') }}">
            <p class="header__menu__grid__name__name">
                Game Engine 3
            </p>
        </a>
        <a class="header__menu__grid__element" href="/download/">
            Download
        </a>
        <a class="header__menu__grid__element" href="/community/">
            Community
        </a>
        <a class="header__menu__grid__element" href="/documentation/">
            Documentation
        </a>
        <a class="header__menu__grid__element" href="/updates/">
            Updates
        </a>
    </div>
</div>

            <div class="header__title">
                Your free, open-source <br> game engine.
            </div>
            <div class="header__second_title">
                Divelop your 2D programs and games without writing code!
            </div>
            <div class="header__download">
                <a class="header__download__link" href="https://github.com/artyom7774/GELauncher/releases/download/GEL1.0.0/GELauncher-windows.sfx.exe">
                    Download GELauncher | v1.0.0
                </a>
                <a class="header__download__link" href="https://github.com/artyom7774/Game-Engine-3/releases/download/GE3.12.2/Game-Engine-3-windows.sfx.exe">
                    Download Game Engine 3 | v3.12.2
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="main__news">
            <a class="main__news__title">
                Latest news
            </a>
            <div class="main__news__list">
                <div class="main__news__list__element">
                    <p class="main__news__list__element__tilte">
                        Game Engine 3.12.1
                    </p>
                    <div class="main__news__list__element__list">
                        <p class="main__news__list__element__list__value">
                            - added new engine translations
                        </p>
                        <p class="main__news__list__element__list__value">
                            - add icon for engine
                        </p>
                    </div>
                </div>
                <div class="main__news__list__element">
                    <p class="main__news__list__element__tilte">
                        GELauncher 1.0.0
                    </p>
                    <div class="main__news__list__element__list">
                        <p class="main__news__list__element__list__value">
                            - launcher for convenient work with versions and projects written in Game Engine 3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__list">
            <a class="main__list__title">
                A different way to make programs
            </a>
            <div class="main__list__list">
                <div class="main__list__list__element">
                    <img class="main__list__list__element__image" src="{{ url_for('static', filename='images/ways/nodes.png') }}">
                    <p class="main__list__list__element__title">
                        Node editor
                    </p>
                    <p class="main__list__list__element__text">
                        The Node Editor makes it easy to write programs without writing text code, which has over 70 unique nodes.
                    </p>
                </div>
                <div class="main__list__list__element">
                    <img class="main__list__list__element__image" src="{{ url_for('static', filename='images/ways/open-source.png') }}">
                    <p class="main__list__list__element__title">
                        Open source
                    </p>
                    <p class="main__list__list__element__text">
                       Game Engine 3 is free and available to every user. The source code can be found in the repository on GitHub.
                    </p>
                </div>
                <div class="main__list__list__element">
                    <img class="main__list__list__element__image" src="{{ url_for('static', filename='images/ways/interface.png') }}">
                    <p class="main__list__list__element__title">
                        Interface
                    </p>
                    <p class="main__list__list__element__text">
                       Game Engine 3's interface is intuitive and allows you to quickly get used to the program
                    </p>
                </div>
                <div class="main__list__list__element">
                    <img class="main__list__list__element__image" src="{{ url_for('static', filename='images/ways/community.png') }}">
                    <p class="main__list__list__element__title">
                        Community
                    </p>
                    <p class="main__list__list__element__text">
                        On our Discord server you can share your projects, communicate with other users and help with the development of the program
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__menu">
    <div class="footer__menu__submenu">
        <p class="footer__menu__submenu__title">
            Game Engine 3
        </p>
        <div class="footer__menu__submenu__element">
            <a class="footer__menu__submenu__element__text" href="/download/">
                Download
            </a>
            <a class="footer__menu__submenu__element__text" href="/documentation/">
                Documentation
            </a>
        </div>
    </div>
    <div class="footer__menu__submenu">
        <p class="footer__menu__submenu__title">
            Community
        </p>
        <div class="footer__menu__submenu__element">
            <a class="footer__menu__submenu__element__text" href="https://discord.gg/FxY6Kfgx57">
                Discord
            </a>
            <a class="footer__menu__submenu__element__text" href="https://github.com/artyom7774">
                GitHub
            </a>
        </div>
    </div>
    <div class="footer__menu__submenu">
        <p class="footer__menu__submenu__title">
            Language
        </p>
        <div class="footer__menu__submenu__element__grid">
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('en')">
                English
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('ru')">
                Русский
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('kz')">
                Қазақша
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('ar')">
                العربية
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('fr')">
                Français
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('es')">
                Español
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('zh')">
                中文
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('hi')">
                हिन्दी
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('pt')">
                Português
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('ja')">
                日本語
            </button>
        </div>
    </div>
</div>
<div class="footer__copyright">
    <hr>
    <p class="footer__copyright__text">
        Game Engine 3 ©2024-2025
    </p>
</div>

    </footer>
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>
    <script data-goatcounter="https://artyom7777.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>