<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Engine 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo/dark.png') }}" type="image/x-icon">
</head>
<body class="body">
    <header class="header_without_image">
        <div class="header__main_without_image">
            <div class="header__menu">
    <div class="header__menu__grid">
        <a class="header__menu__grid__name" href="/">
            <img class="header__menu__grid__name__logo" src="{{ url_for('static', filename='images/logo/white.png') }}">
            <p class="header__menu__grid__name__name">
                Game Engine 3
            </p>
        </a>
        <a class="header__menu__grid__element" href="/download/">
            Download
        </a>
        <a class="header__menu__grid__element" href="/community/">
            Community
        </a>
        <a class="header__menu__grid__element" href="/documentation/">
            Documentation
        </a>
        <a class="header__menu__grid__element" href="/updates/">
            Updates
        </a>
    </div>
</div>

        </div>
    </header>
    <main>
        <div class="main__nodes">
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Events
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    On start game
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path on start program</p>
                    <br>
                    <p>Input: -</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/onStartGame.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    On load scene
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path on load scene</p>
                    <br>
                    <p>Input: -</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/onLoadScene.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Every N frames
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path every N frames</p>
                    <br>
                    <p>Input: N</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/everyFrame.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Every N ticks
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path every N ticks</p>
                    <br>
                    <p>Input: N</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/everyTick.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Mouse right click
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path on mouse right click</p>
                    <br>
                    <p>Input: -</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/mouseRightClick.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Mouse left click
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path on mouse left click</p>
                    <br>
                    <p>Input: -</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/mouseLeftClick.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Keyboard click
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path on click the button</p>
                    <br>
                    <p>Input: button</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/keyboardClick.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Keyboard press
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path while press the button</p>
                    <br>
                    <p>Input: button</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/keyboardPress.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    On button press
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns path and button ID on button press</p>
                    <br>
                    <p>Input: button</p>
                    <p>Output: path, object ID</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/onButtonPress.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Loops
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    For N times
                </p>
                <div class="main__nodes__element__text">
                    <p>Inputs path, count of cycles, delay in seconds between cycles</p>
                    <p>Returns iterator (path that is called every cycle), index of cycle, path after cycles</p>
                    <br>
                    <p>Input: path, N, X</p>
                    <p>Output: iterator, index, after</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/for.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    For objects group
                </p>
                <div class="main__nodes__element__text">
                    <p>Inputs path, object group</p>
                    <p>Returns iterator (path that is called every cycle), ID of object, path after cycles</p>
                    <br>
                    <p>Input: path, group</p>
                    <p>Output: iterator, object ID, after</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/forObjectsGroup.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    For list elements
                </p>
                <div class="main__nodes__element__text">
                    <p>Inputs path, list</p>
                    <p>Returns iterator (path that is called every cycle), index of element, element, path after cycles</p>
                    <br>
                    <p>Input: path, list</p>
                    <p>Output: iterator, index, element, after</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/forListElements.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    For dict elements
                </p>
                <div class="main__nodes__element__text">
                    <p>Inputs path, dict</p>
                    <p>Returns iterator (path that is called every cycle), key of element, element, path after cycles</p>
                    <br>
                    <p>Input: path, dict</p>
                    <p>Output: iterator, key, element, after</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/forDictElements.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Text
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Connect text
                </p>
                <div class="main__nodes__element__text">
                    <p>Inputs path, first text, second text and returns sum of this texts</p>
                    <br>
                    <p>Input: path, text, text</p>
                    <p>Output: path, text</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/connectText.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Slice text
                </p>
                <div class="main__nodes__element__text">
                    <p>Inputs path, text, start index and end index</p>
                    <p>Returns text starts with start index and end with end index</p>
                    <br>
                    <p>Input: path, text, start, end</p>
                    <p>Output: path, text</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/sliceText.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Write text
                </p>
                <div class="main__nodes__element__text">
                    <p>Write text in console</p>
                    <br>
                    <p>Input: path, text</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/writeText.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Display text
                </p>
                <div class="main__nodes__element__text">
                    <p>Display text on X, Y in this frame</p>
                    <br>
                    <p>Input: path, X, Y, text</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/displayText.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Numbers
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    A + B
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns A + B</p>
                    <br>
                    <p>Input: path, A, B</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/plus.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    A - B
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns A - B</p>
                    <br>
                    <p>Input: path, A, B</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/minus.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    A * B
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns A * B</p>
                    <br>
                    <p>Input: path, A, B</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/multiply.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    A / B
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns A / B</p>
                    <br>
                    <p>Input: path, A, B</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/divide.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Radians
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns radians from degrees</p>
                    <br>
                    <p>Input: path, degrees</p>
                    <p>Output: path, radians</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/radians.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Degrees
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns degrees from radians</p>
                    <br>
                    <p>Input: path, radians</p>
                    <p>Output: path, degrees</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/degrees.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Sin
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns sin from radians</p>
                    <br>
                    <p>Input: path, radians</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/sin.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Cos
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns cos from radians</p>
                    <br>
                    <p>Input: path, radians</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/cos.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Tan
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns tan from radians</p>
                    <br>
                    <p>Input: path, radians</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/tan.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Ctg
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns ctg from radians</p>
                    <br>
                    <p>Input: path, radians</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/ctg.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Absolute of number
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns absolute from number</p>
                    <br>
                    <p>Input: path, number</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/absolute.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Logic
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    If
                </p>
                <div class="main__nodes__element__text">
                    <p>If condition true return true path else false path</p>
                    <br>
                    <p>Input: path, A, condition, B</p>
                    <p>Output: true path, false path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/if.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    If collision
                </p>
                <div class="main__nodes__element__text">
                    <p>If object collision group return true path and object id else false path</p>
                    <p>THE ID OF THE OBJECT WITH WHICH THE COLLISION IS CHECKED MUST BE DYNAMIC!!!</p>
                    <br>
                    <p>Input: path, object ID, group, consider only intersection as a collision</p>
                    <p>Output: true path, false path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/ifCollision.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    If key in dict
                </p>
                <div class="main__nodes__element__text">
                    <p>If key in dict return true path and object id else false path</p>
                    <br>
                    <p>Input: path, dict, key</p>
                    <p>Output: true path, false path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/ifKeyInDict.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    If element in list
                </p>
                <div class="main__nodes__element__text">
                    <p>If element in list return true path and object id else false path</p>
                    <br>
                    <p>Input: path, element, list</p>
                    <p>Output: true path, false path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/ifElementInList.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Objects
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get object ID by name
                </p>
                <div class="main__nodes__element__text">
                    <p>Return object ID by name</p>
                    <br>
                    <p>Input: path, name,</p>
                    <p>Output: path, object ID</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getObjectIDByName.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Set object pos
                </p>
                <div class="main__nodes__element__text">
                    <p>Set object pos for object by ID</p>
                    <br>
                    <p>Input: path, object ID, X, Y</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/setObjectPos.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Move object
                </p>
                <div class="main__nodes__element__text">
                    <p>Move object for object by ID</p>
                    <br>
                    <p>Input: path, object ID, X, Y</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/moveObject.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Move object
                </p>
                <div class="main__nodes__element__text">
                    <p>Move object for object by ID by angle with power</p>
                    <br>
                    <p>Input: path, object ID, angle, power</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/moveObject.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Move object with braking
                </p>
                <div class="main__nodes__element__text">
                    <p>Move object for object by ID by angle with power and braking power</p>
                    <br>
                    <p>Input: path, object ID, angle, power, braking</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/moveObjectWithBraking.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get object pos
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns object position</p>
                    <br>
                    <p>Input: path, object ID</p>
                    <p>Output: path, X, Y</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getObjectPos.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Set object var
                </p>
                <div class="main__nodes__element__text">
                    <p>Set object variable for object by ID with name and value</p>
                    <br>
                    <p>Input: path, object ID, name, value</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/setObjectVar.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get object var
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns object by ID variable value by name</p>
                    <br>
                    <p>Input: path, object ID, name</p>
                    <p>Output: path, value</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getObjectVar.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Create object
                </p>
                <div class="main__nodes__element__text">
                    <p>Create object by name and position and returns object ID</p>
                    <br>
                    <p>Input: path, name, X, Y</p>
                    <p>Output: path, object ID</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/createObject.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Remove object
                </p>
                <div class="main__nodes__element__text">
                    <p>Remove object by ID</p>
                    <br>
                    <p>Input: path, object ID</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/removeObject.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get resulting vector
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns resultings of all vectors in object by ID</p>
                    <br>
                    <p>Input: path, object ID</p>
                    <p>Output: path, X, Y</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getResultingVector.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get object parameter
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns object parameter by object ID and parameter name</p>
                    <br>
                    <p>Input: path, object ID, name</p>
                    <p>Output: path, value</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getObjectParameter.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Set object parameter
                </p>
                <div class="main__nodes__element__text">
                    <p>Set object value of object parameter by object ID and parameter name</p>
                    <br>
                    <p>Input: path, object ID, name, value</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/setObjectParameter.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get all objects in group
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns list of all objects in group</p>
                    <br>
                    <p>Input: path, group</p>
                    <p>Output: path, list</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getAllObjectsInGroup.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Jump
                </p>
                <div class="main__nodes__element__text">
                    <p>Imitate jump for object by ID with power</p>
                    <p>OBJECT MUST BY DYNAMIC!!!</p>
                    <br>
                    <p>Input: path, object ID, power</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/jump.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Animation
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Run animation
                </p>
                <div class="main__nodes__element__text">
                    <p>Run animation for object by ID and animation name</p>
                    <br>
                    <p>Input: path, object ID, name</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/runAnimation.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Stop animation
                </p>
                <div class="main__nodes__element__text">
                    <p>Stop animation for object by ID</p>
                    <br>
                    <p>Input: path, object ID</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/stopAnimation.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Mirror animation
                </p>
                <div class="main__nodes__element__text">
                    <p>Mirror animations for object by ID vertically and horizontally</p>
                    <br>
                    <p>Input: path, object ID, horizontal, vertical</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/mirrorAnimation.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Another
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Set var
                </p>
                <div class="main__nodes__element__text">
                    <p>Set variable value by name and globality variable</p>
                    <br>
                    <p>Input: path, name, global, value</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/setVar.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get var
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns variable value by name and globality variable</p>
                    <br>
                    <p>Input: path, name, global</p>
                    <p>Output: path, value</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getVar.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Random
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns random number from A to B</p>
                    <br>
                    <p>Input: path, A, B</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/random.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Decode holder
                </p>
                <div class="main__nodes__element__text">
                    <p>Decode text holder to value</p>
                    <br>
                    <p>Holders:</p>
                    <ul>
                        <li>%math(expression) -> return answer on this expression</li>
                        <li>%local_var(variable) -> return value of local variable</li>
                        <li>%global_var(variable) -> return value of global variable</li>
                    </ul>
                    <p>Example:</p>
                    <ul>
                        <li>let: local variable abc = 1</li>
                        <li>%math(%local_var(abc) + 2) -> 3</li>
                    </ul>
                    <p>Input: path, text</p>
                    <p>Output: path, answer</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/decodeHolder.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Len
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns len of object, if object type is not dict or list return 1</p>
                    <br>
                    <p>Input: path, object</p>
                    <p>Output: path, len</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/len.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Exit
                </p>
                <div class="main__nodes__element__text">
                    <p>Close project</p>
                    <br>
                    <p>Input: path</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/exit.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Python
                </p>
                <div class="main__nodes__element__text">
                    <p>Running code in function "run" with args = list, kwargs = dict</p>
                    <p>What will be returned via return in code will be returned to the list output</p>
                    <p>A more detailed guide can be found in the Programming tab</p>
                    <br>
                    <p>Input: path, code, list, dict</p>
                    <p>Output: path, list</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/python.png') }}">
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/textEditor.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Function
                </p>
                <div class="main__nodes__element__text">
                    <p>Initializate function with function name, on call return path and getted list</p>
                    <br>
                    <p>Input: function name</p>
                    <p>Output: path, list</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/functionEvent.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Call function
                </p>
                <div class="main__nodes__element__text">
                    <p>Call function by name with list value</p>
                    <br>
                    <p>Input: function name, list</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/callFunction.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get mouse pos
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns mouse position</p>
                    <br>
                    <p>Input: path</p>
                    <p>Output: path, X, Y</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getMousePos.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Passed framef time
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns passed time - count ms for update frame</p>
                    <p>In this example player will be moving identifically for any value of FPS</p>
                    <br>
                    <p>Input: path</p>
                    <p>Output: path, passed time</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getTimePassed.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Go to scene
                </p>
                <div class="main__nodes__element__text">
                    <p>Go to scene by name</p>
                    <br>
                    <p>Input: path, scene</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/goToScene.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get scene name
                </p>
                <div class="main__nodes__element__text">
                    <p>Return scene name</p>
                    <br>
                    <p>Input: path</p>
                    <p>Output: path, scene</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getSceneName.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Wait
                </p>
                <div class="main__nodes__element__text">
                    <p>Wait N frames</p>
                    <br>
                    <p>Input: path, time</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/wait.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Break
                </p>
                <div class="main__nodes__element__text">
                    <p>Break from the cycle</p>
                    <br>
                    <p>Input: path</p>
                    <p>Output: -</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/break.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Set
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Add list element
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns list with new element</p>
                    <br>
                    <p>Input: path, list, element</p>
                    <p>Output: path, list</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/addListElement.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get by index
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns element of list by index</p>
                    <br>
                    <p>Input: path, list, index</p>
                    <p>Output: path, element</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getByIndex.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Delete by index
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns list without element by index</p>
                    <br>
                    <p>Input: path, list, index</p>
                    <p>Output: path, list</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/deleteByIndex.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get index of element
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns index of element in list</p>
                    <br>
                    <p>Input: path, list, element</p>
                    <p>Output: path, index</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getIndexOfElement.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Slice list
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns list starts with start index and end with end index</p>
                    <br>
                    <p>Input: path, list, start, end</p>
                    <p>Output: path, list</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/sliceList.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Add dict element
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns dict with new element by key</p>
                    <br>
                    <p>Input: path, dict, key, element</p>
                    <p>Output: path, dict</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/addDictElement.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get by key
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns element by key in dict</p>
                    <br>
                    <p>Input: path, dict, key</p>
                    <p>Output: path, element</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getByKey.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Remove by key
                </p>
                <div class="main__nodes__element__text">
                    <p>Return dict without element by key in dict</p>
                    <br>
                    <p>Input: path, dict, key</p>
                    <p>Output: path, dict</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/removeByKey.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get key of element
                </p>
                <div class="main__nodes__element__text">
                    <p>Returns key of element in dict</p>
                    <br>
                    <p>Input: path, dict, element</p>
                    <p>Output: path, key</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getKeyOfElement.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Music
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Play music
                </p>
                <div class="main__nodes__element__text">
                    <p>Play music by name with volume</p>
                    <br>
                    <p>Input: path, name, volume</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/playMusic.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Stop music
                </p>
                <div class="main__nodes__element__text">
                    <p>Stop music</p>
                    <br>
                    <p>Input: path</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/stopMusic.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Play sound
                </p>
                <div class="main__nodes__element__text">
                    <p>Play sound by name with volume</p>
                    <br>
                    <p>Input: path, name, volume</p>
                    <p>Output: path</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/playSound.png') }}">
                </div>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title_center">
                    Experimental
                </p>
            </div>
            <div class="main__nodes__element">
                <p class="main__nodes__element__title">
                    Get noise value
                </p>
                <div class="main__nodes__element__text">
                    <p>Return value of Perlin noise in X, Y</p>
                    <br>
                    <p>Input: path, seed, X, Y, min, max, octaves, frequency, amplitude, lacunarity, persistence</p>
                    <p>Output: path, value</p>
                    <br>
                    <img class="main__nodes__element__image" src="{{ url_for('static', filename='images/nodes/getNoiseValue.png') }}">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__menu">
    <div class="footer__menu__submenu">
        <p class="footer__menu__submenu__title">
            Game Engine 3
        </p>
        <div class="footer__menu__submenu__element">
            <a class="footer__menu__submenu__element__text" href="/download/">
                Download
            </a>
            <a class="footer__menu__submenu__element__text" href="/documentation/">
                Documentation
            </a>
        </div>
    </div>
    <div class="footer__menu__submenu">
        <p class="footer__menu__submenu__title">
            Community
        </p>
        <div class="footer__menu__submenu__element">
            <a class="footer__menu__submenu__element__text" href="https://discord.gg/FxY6Kfgx57">
                Discord
            </a>
            <a class="footer__menu__submenu__element__text" href="https://github.com/artyom7774">
                GitHub
            </a>
        </div>
    </div>
    <div class="footer__menu__submenu">
        <p class="footer__menu__submenu__title">
            Language
        </p>
        <div class="footer__menu__submenu__element__grid">
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('en')">
                English
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('ru')">
                Русский
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('kz')">
                Қазақша
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('ar')">
                العربية
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('fr')">
                Français
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('es')">
                Español
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('zh')">
                中文
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('hi')">
                हिन्दी
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('pt')">
                Português
            </button>
            <button class="footer__menu__submenu__element__text" onclick="changeLanguage('ja')">
                日本語
            </button>
        </div>
    </div>
</div>
<div class="footer__copyright">
    <hr>
    <p class="footer__copyright__text">
        Game Engine 3 ©2024-2025
    </p>
</div>

    </footer>
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>
    <script data-goatcounter="https://artyom7777.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>